/* color: #838182  #cccec3   #cbcec3  #838182;*/

html, body {
    background: #20002c !important;
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c) !important;
    background: linear-gradient(to right, #cbb4d4, #20002c) !important;

}

.formCenter {
    background: #fff;
    color: #333333;
    height: auto;
    padding: 2%;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
    box-shadow: 0px 0px 3px 0px #21012d;
    border-radius: 6px;
}

.btnForm {
    font-size: 20px !important;
    background-color: #765b81 !important;
}

.btnForm:hover {
    background-color: #50335c !important;
}

#btnSubmitLogIn {
    width: 100%;
}

#btnSubmitRegister {
    width: 100%;
}

.btnCancelRegister {
    color: #b400ff;
    cursor: pointer;
}
.btnCancelRegister:hover {
    color: #522863;
}


#register {
    width: 100%;
    font-size: 20px !important;
    color: #50335c !important;
    border-color: #50335c !important;
}

#register:hover {
    background-color: #50335c !important;
    color: #ffffff !important;
}

.pmError {
    color: red;
}

.header {
    background-color: #fff;
    height: 70px;
}

.card-header {
    color: #fff !important;
    height: 50px !important;
    text-align: center !important;
}

.newTask {
    background-color: #a06cad !important;
}

.sprintTask {
    background-color: #522863 !important;
}

.completedTask {
    background-color: #28633d !important;
}

.todoTask {
    background-color: #9062a2 !important;
}
.doingTask {
    background-color: #6f4580 !important;
}
.verifyTask {
    background-color: #562d67 !important;
}


#btnNewTask {
    text-align: center;
    background-color: #522863;
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 5px;
}

#btnNewTask:hover {
    background-color: #482563;
}

.backLogTaskBox{
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    margin: 0 0 3% 3%;
    width: 45%;
    position: relative;
    cursor: pointer;
}
.backLogTaskBox-header{
    background-color: #edc7fd;
    border-bottom: 1px solid #cfcfcf;
    text-align: center;
}
.backLogTaskBox-body{
    padding: 2%;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.backLogTaskBox-footer {
    background-color: #edc8fd;
    width: 100%;
    padding-left: 3%;
}

.iconTime{
    font-size: 14px;
}
.numberTime{
    font-size: 16px;
    margin: 0 1px 0px 3px;
    font-weight: 600;
}
.unitTime{
    font-size: 10px;
}



.middle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .99s ease;
}

.backLogTaskBox:hover .box{
    opacity: 0.3;
}

.backLogTaskBox:hover .middle {
    opacity: 1;
    height: 36%;
}

.btnChangeStatus {
    background-color: #522863;
    color: white;
    font-size: 20px;
    padding: 6px;
    border-radius: 0px 0px 5px 5px;

}

